
header {
    height: 15%;
    min-height: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #5cbdae;
    padding: 3px;
}

main{
    height: 69%;
    width: 70%;
    clear: both;
    display: inline-block;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 3px;
    padding-bottom: 3px;
}

#one {
    height: 100%;
    min-height: 300px;
    width: 20%;
    background-color: #caa051;
    float: left;
    margin-right:3px;
}

#two {
    height: 100%;
    min-height: 300px;
    width: 79%;
    background-color: #f5ff8c;
    float: right;
}


footer{
    height: 15%;
    min-height: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #6da043;
    padding: 3px;
}

