@CHARSET "UTF-8";

#BlanchedAlmond {
	background-color: #FFEBCD;
}

#CadetBlue {
	background-color: #5F9EA0;
}

#BurlyWood {
	background-color: #DEB887;
}

#DarkOliveGreen {
	background-color: #556B2F;
}

#HotPink {
	background-color: #FF69B4;
}

#PapayaWhip {
	background-color: #FFEFD5;
}